<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Doggies</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
                <a class="nav-link active m-1 text-white" aria-current="page" href="#">Home</a>

                <a class="nav-link active m-1 text-white" aria-current="page" href="#">About</a>
            
                <a class="nav-link active m-1 text-white" aria-current="page" href="#">Contact</a>
        
                <a class="nav-link active m-1 text-light" aria-current="page" href="#"><button type="button" class="btn btn-primary"><i class="bi bi-cart3 text-white"></i></button>
                </a>  
        </div>
      </nav>
      <main>
        <center>
            <h1>Welcome to Doggies</h1>
        <h5 class="text-decoration-underline">Your only shop for Pets</h5>
        </center>
        <div>
            <center>
                <a href="{% url 'newpet' %}">
                    <button type="button" class="btn btn-primary">Register New Pet</button>
                    </a>
            </center>
        </div>
        <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col">PetID</th>
                <th scope="col">PetName</th>
                <th scope="col">PetGender</th>
                <th scope="col">PetAge</th>
                <th scope="col"><center>PetDescription</center></th>
                <th scope="col">PetPhoto</th>
              </tr>
            </thead>
            <tbody>
              {% for p in petdata %}
                    <tr>
                        <th scope="row">{{ p.petid }}</th>
                        <td><a href="petdetailpage/{{p.petid}}">{{ p.petname }}</a></td>
                        <td>{{ p.petgender }}</td>
                        <td>{{ p.petage }}</td>
                        <td>{{ p.petdescription }}</td>
                        <td><img src="{{ p.petphoto.url }}" alt="" width="100px" height="100px"></td>
                    </tr>
              {% endfor %}
            </tbody>
          </table>


      </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>